* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #b2d9ff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo {
    float: left;
  }
  
  .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  .menu {
    float: left;
    overflow: hidden;
    text-align: left;
		border-radius: 5px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    width:fit-content;
	left:20px;
  }
  
  .dropbtn {
    color: white;
    background-color: #86a1c99f;
    font-size: 16px;
    border:#c0d2ee9f;
    outline: #c0d2ee9f;
    padding: 16px 18px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-family: 'Trebuchet MS', Arial, sans-serif;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    font-family: 'Trebuchet MS', Arial, sans-serif;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #9bb1d39f;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 19px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

header {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 20px;
	background-color: #a2c3e7;
	z-index: 2;
}

.logo {
	display: inline;
	font-family: 'Brush Script MT', cursive;
	font-size: 2rem;
	margin-left: 20px;
}

.profile-icon {
	font-size: 2rem;
	margin-right: 20px;
	margin-left: 80px;
	cursor: pointer;
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-top: 70px;
}

.main-content {
	max-width: 900px;
	margin: auto;
	margin-top: 100px;
	padding: 30px;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}


.search {
	display: flex;
	margin-top: 30px;
	margin-bottom: 50px;
	
}

input[type="text"] {
	flex-grow: 1;
	font-size: 24px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.search-button{
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
	border: none;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.search-button:hover {
	background-color: #469449;
}

.custom-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 50px;
	background-color: #4CAF50;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	z-index: 2;
  }
  
  .custom-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid white;
  }
  
  .custom-btn:hover {
	background-color: #3E8E41;
  }


/* .custom-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
  } */

	.course {
		display: inline-block;
    margin: 30px auto;
    width: 700px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
		padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  
  .course h2 {
    margin: 0;
  }

	.course a {
		display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
		text-decoration: none;
		color: black;
  }
  
	.faces {
		display: inline;
		position: relative;
	}

	.course-text {
		display: inline-block;
		margin-right: 30px;
	}

	.course:hover {
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	}
	 
	.faces img {
		z-index: 1;
		margin-bottom: -20px;
		position: sticky;
		right: inherit;
	}

	.faces img:hover {
		width: 90px;
	}

  .course p {
    margin: 10px 0 0;
    font-style: italic;
  }